.container {
  max-width: 1300px;
  padding: 1px;
  margin: 0px auto;
}
.heroContainer {
  background-image: url(/assets/Image.png);
  height: 600px;
}
.heroContent {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.heroContent1 img {
  height: 300px;
  width: 400px;
}
.heroContent2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.aboutContent {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 80px;
}

.aboutContent1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.messageContainer {
  display: flex;
  gap: 1rem;
  padding: 30px;
}
.messageContent {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.messageContent1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #181d24;
  padding: 30px;
  border-bottom-right-radius: 30px;
}

.messageContent1 {
  font-family: Rufina, serif;
  font-weight: 700;
  font-style: normal;
  color: #f5e9d6;
}
.messageContent1items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.messageContent2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #ffffff;
  border-bottom-right-radius: 30px;
  padding: 30px;
}
.messageContent2 form {
  color: #5b656f;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.messageContent2 button {
  height: 30px;
  width: 60px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.backgroundContainer {
  background-image: url("/assets/message-image.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top: 80px;
}

@media (max-width: 600px) {
  .heroContent {
    display: flex;
    flex-direction: column;
    height: 110vh;
    background-image: url(/assets/Image.png);
  }

  .aboutContent {
    margin-top: 190px;
    flex-direction: column;
  }

  

  .messageContent {
    flex-direction: column;
    margin-top: 20px;
  }

  .messageContent1,
  .messageContent2 {
    padding: 20px;
  }

  .messageContent2 .formInput div {
    display: flex;
    flex-direction: column;
  }

  .messageContent2 textarea,
  .messageContent2 input {
    width: 100%;
    box-sizing: border-box;
  }
}
